In [6]:
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [9]:
directory = os.getcwd() + "/Cencer"
file_names = [f for f in os.listdir(directory) if os.path.isfile(os.path.join(directory, f))]

In [10]:
file_names

['sales-of-cigarettes-per-adult-per-day.csv',
 'cancer-death-rates-in-the-us.csv',
 'share-of-population-with-cancer-types.csv',
 'total-cancer-deaths-by-type.csv',
 'share-of-population-with-cancer.csv',
 'lung-cancer-survival-rate-vs-gdp.csv',
 'disease-burden-rates-from-cancers.csv',
 'annual-number-of-deaths-by-cause.csv',
 'five-year-survival-rates-by-cancer-type.csv',
 'cancer-death-rates-by-type.csv',
 'disease-burden-rates-by-cancer-types.csv',
 'cancer-deaths-by-age.csv',
 'number-of-people-with-cancer-by-age.csv',
 'lung-cancer-deaths-per-100000-by-sex-1950-2002.csv',
 'five-year-survival-rate-from-liver-cancer.csv',
 'share-of-cancer-deaths-attributed-to-risk-factors.csv',
 'share-of-cancer-deaths-attributed-to-tobacco.csv',
 'cancer-deaths-rate-and-age-standardized-rate-index.csv',
 'share-of-population-with-cancer-by-age.csv',
 'five-year-survival-rates-from-lung-cancer.csv',
 'death-rate-from-cancers-vs-average-income.csv',
 'breast-cancer-survival-rates-vs-gdp-per-capita.csv',
 'cancer-death-rates.csv',
 'cancer-deaths-by-type-grouped.csv',
 'cancer-death-rates-by-age.csv',
 'five-year-survival-rates-from-breast-cancer.csv']

In [13]:
for file_name in file_names:
    df = pd.read_csv("./Cencer/" + file_name)
    display(df)

,Entity,Code,Year,Sales of cigarettes per adult per day (International Smoking Statistics (2017))
0,Armenia,ARM,1988,12.0
1,Armenia,ARM,1989,11.6
2,Armenia,ARM,1990,11.9
3,Armenia,ARM,1991,9.3
4,Armenia,ARM,1992,4.9
...,...,...,...,...
2762,Yugoslavia,OWID_YGS,1988,8.9
2763,Yugoslavia,OWID_YGS,1989,8.5
2764,Yugoslavia,OWID_YGS,1990,8.5
2765,Yugoslavia,OWID_YGS,1991,7.8
2766,Yugoslavia,OWID_YGS,1992,6.7

,Entity,Code,Year,Breast (female),Colon and Rectum (female),Colon and Rectum (male),Leukemia (male),Liver (female),Liver (male),Lung and Bronchus (female),Lung and Bronchus (male),Pancreas (female),Pancreas (male),Prostate (male),Stomach (female),Stomach (male),Uterus (female)
0,United States,USA,1930,30.1,27.1,23.0,3.0,19.3,14.1,2.6,4.3,3.8,4.5,17.8,35.2,46.3,36.3
1,United States,USA,1931,30.6,27.7,23.7,3.2,18.6,13.4,2.6,4.7,4.1,4.7,18.4,33.8,45.7,36.5
2,United States,USA,1932,30.9,28.5,25.2,3.2,18.6,13.0,2.8,5.4,4.5,4.9,19.8,33.7,45.1,36.7
3,United States,USA,1933,30.8,28.7,25.7,3.4,17.4,13.0,3.0,5.7,4.3,5.1,20.7,32.5,44.2,35.6
4,United States,USA,1934,31.6,29.7,27.1,3.6,17.0,12.8,3.1,6.4,4.4,5.4,22.7,31.6,44.0,35.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,United States,USA,2007,23.0,14.6,20.7,9.5,4.4,8.9,40.2,65.4,9.5,12.6,24.2,2.6,5.0,6.6
78,United States,USA,2008,22.6,14.3,20.1,9.5,4.4,9.3,39.2,63.9,9.7,12.5,23.0,2.5,4.9,6.6
79,United States,USA,2009,22.2,13.6,19.5,9.5,4.5,9.6,38.7,61.7,9.5,12.4,22.1,2.4,4.7,6.5
80,United States,USA,2010,21.9,13.3,19.2,9.3,4.7,9.7,38.0,60.3,9.6,12.7,21.8,2.5,4.6,6.7
81,United States,USA,2011,21.5,13.1,18.5,9.3,4.7,10.0,37.1,58.1,9.5,12.5,20.8,2.3,4.4,6.8

,Entity,Code,Year,Prevalence - Liver cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Kidney cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Larynx cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Breast cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Thyroid cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bladder cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Uterine cancer - Sex: Both - Age: Age-standardized (Percent),...,Prevalence - Testicular cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Pancreatic cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Esophageal cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Nasopharynx cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Colon and rectum cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Non-melanoma skin cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Lip and oral cavity cancer - Sex: Both - Age: Age-standardized (Percent),Prevalence - Brain and nervous system cancer - Sex: Both - Age: Age-standardized (Percent),"Prevalence - Tracheal, bronchus, and lung cancer - Sex: Both - Age: Age-standardized (Percent)",Prevalence - Gallbladder and biliary tract cancer - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.011982,0.003536,0.014506,0.066460,0.008734,0.010003,0.004157,...,0.000047,0.001424,0.009830,0.002382,0.021291,0.000000,0.003595,0.016165,0.012736,0.002666
1,Afghanistan,AFG,1991,0.011957,0.003411,0.014476,0.065140,0.008657,0.009900,0.004112,...,0.000045,0.001392,0.009755,0.002352,0.020925,0.000000,0.003536,0.015804,0.012478,0.002639
2,Afghanistan,AFG,1992,0.011937,0.003340,0.014471,0.063878,0.008644,0.009814,0.004092,...,0.000045,0.001359,0.009707,0.002334,0.020582,0.000000,0.003502,0.015175,0.012283,0.002620
3,Afghanistan,AFG,1993,0.011926,0.003336,0.014500,0.062987,0.008754,0.009740,0.004118,...,0.000046,0.001347,0.009782,0.002340,0.020270,0.000000,0.003493,0.014904,0.012133,0.002626
4,Afghanistan,AFG,1994,0.011925,0.003303,0.014538,0.062494,0.008834,0.009668,0.004139,...,0.000046,0.001338,0.009900,0.002347,0.019971,0.000000,0.003470,0.015340,0.011969,0.002640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7699,Zimbabwe,ZWE,2015,0.015219,0.003071,0.010412,0.142433,0.012526,0.025938,0.020777,...,0.000179,0.005448,0.022020,0.002040,0.037513,0.000361,0.008411,0.006130,0.014432,0.001620
7700,Zimbabwe,ZWE,2016,0.015063,0.003202,0.010477,0.144853,0.012963,0.026412,0.021392,...,0.000202,0.005587,0.022005,0.002042,0.038218,0.000380,0.008600,0.006138,0.014542,0.001616
7701,Zimbabwe,ZWE,2017,0.014927,0.003302,0.010531,0.146780,0.013269,0.026894,0.021805,...,0.000221,0.005708,0.021936,0.002034,0.038846,0.000391,0.008738,0.006096,0.014599,0.001606
7702,Zimbabwe,ZWE,2018,0.014781,0.003385,0.010582,0.148003,0.013511,0.027327,0.022124,...,0.000239,0.005831,0.021881,0.002027,0.039367,0.000623,0.008873,NaN,0.014696,0.001595
7703,Zimbabwe,ZWE,2019,0.014604,0.003445,0.010633,0.149134,0.013702,0.027748,0.022376,...,0.000255,0.005930,0.021853,0.002023,0.039827,0.000699,0.008974,NaN,0.014771,0.001589

,Entity,Code,Year,Deaths - Liver cancer - Sex: Both - Age: All Ages (Number),Deaths - Kidney cancer - Sex: Both - Age: All Ages (Number),Deaths - Lip and oral cavity cancer - Sex: Both - Age: All Ages (Number),"Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)",Deaths - Larynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Gallbladder and biliary tract cancer - Sex: Both - Age: All Ages (Number),Deaths - Malignant skin melanoma - Sex: Both - Age: All Ages (Number),...,Deaths - Brain and central nervous system cancer - Sex: Both - Age: All Ages (Number),Deaths - Non-Hodgkin lymphoma - Sex: Both - Age: All Ages (Number),Deaths - Pancreatic cancer - Sex: Both - Age: All Ages (Number),Deaths - Esophageal cancer - Sex: Both - Age: All Ages (Number),Deaths - Testicular cancer - Sex: Both - Age: All Ages (Number),Deaths - Nasopharynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Other pharynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Colon and rectum cancer - Sex: Both - Age: All Ages (Number),Deaths - Non-melanoma skin cancer - Sex: Both - Age: All Ages (Number),Deaths - Mesothelioma - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,851,66,89,983,260,180,47,...,422,996,138,529,3,66,37,539,25,6
1,Afghanistan,AFG,1991,866,66,89,982,263,182,48,...,438,1010,137,535,4,67,37,542,26,7
2,Afghanistan,AFG,1992,890,68,91,989,268,185,51,...,472,1040,137,546,4,69,38,550,26,7
3,Afghanistan,AFG,1993,914,70,93,995,275,189,53,...,505,1062,139,560,5,72,39,555,27,7
4,Afghanistan,AFG,1994,933,71,94,996,282,193,54,...,526,1069,140,575,5,73,39,554,28,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,948,59,145,902,149,87,125,...,104,96,426,988,11,53,40,719,39,16
6836,Zimbabwe,ZWE,2016,966,61,150,932,153,89,129,...,109,100,449,1012,11,54,42,744,40,17
6837,Zimbabwe,ZWE,2017,982,63,154,960,156,91,133,...,112,102,471,1035,12,56,43,767,41,17
6838,Zimbabwe,ZWE,2018,998,66,159,993,160,92,137,...,115,105,495,1059,12,57,44,792,43,17
6839,Zimbabwe,ZWE,2019,1016,68,164,1026,165,95,141,...,118,108,517,1087,12,59,45,818,44,18

,Entity,Code,Year,Prevalence - Neoplasms - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.476867
1,Afghanistan,AFG,1991,0.476258
2,Afghanistan,AFG,1992,0.475649
3,Afghanistan,AFG,1993,0.475640
4,Afghanistan,AFG,1994,0.480281
...,...,...,...,...
6463,Zimbabwe,ZWE,2013,0.569652
6464,Zimbabwe,ZWE,2014,0.568133
6465,Zimbabwe,ZWE,2015,0.566873
6466,Zimbabwe,ZWE,2016,0.567007
6467,Zimbabwe,ZWE,2017,0.566521

,Entity,Code,Year,Lung,"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2002,NaN,1189.784668,22600774.0,NaN
2,Afghanistan,AFG,2003,NaN,1235.810063,23680871.0,NaN
3,Afghanistan,AFG,2004,NaN,1200.278013,24726689.0,NaN
4,Afghanistan,AFG,2005,NaN,1286.793659,25654274.0,NaN
...,...,...,...,...,...,...,...
57069,Zimbabwe,ZWE,1987,NaN,NaN,9527202.0,NaN
57070,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
57071,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
57072,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
57073,Ã…land Islands,ALA,2015,NaN,NaN,NaN,Europe

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Neoplasms - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,4515.521364
1,Afghanistan,AFG,1991,4453.595073
2,Afghanistan,AFG,1992,4410.492672
3,Afghanistan,AFG,1993,4416.956246
4,Afghanistan,AFG,1994,4431.391474
...,...,...,...,...
6835,Zimbabwe,ZWE,2015,4589.862371
6836,Zimbabwe,ZWE,2016,4586.463488
6837,Zimbabwe,ZWE,2017,4566.806890
6838,Zimbabwe,ZWE,2018,4548.437587
6839,Zimbabwe,ZWE,2019,4533.390381

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),...,Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,1402.0,450.0,2488.0,393.0,2127.0,...,4490.0,513.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,AFG,2008,17,2731.0,1424.0,455.0,2277.0,255.0,1973.0,...,4534.0,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,AFG,2009,0,2460.0,1449.0,460.0,2040.0,239.0,1852.0,...,4597.0,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,AFG,2011,2,2327.0,1508.0,473.0,1846.0,390.0,1775.0,...,4785.0,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,AFG,2012,14,2254.0,1544.0,482.0,1705.0,94.0,1716.0,...,4846.0,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7268,Zimbabwe,ZWE,2015,NaN,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,2108.0,381.0,2990.0,NaN,2373.0,2751.0,1956.0,4202.0,632.0,146.0
7269,Zimbabwe,ZWE,2016,NaN,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,2160.0,393.0,3027.0,NaN,2436.0,2788.0,1962.0,4264.0,648.0,146.0
7270,Zimbabwe,ZWE,2017,NaN,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,2196.0,398.0,2962.0,0.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
7271,Zimbabwe,ZWE,2018,NaN,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,2240.0,400.0,2890.0,NaN,2509.0,2849.0,2030.0,4377.0,657.0,139.0
7272,Zimbabwe,ZWE,2019,NaN,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,2292.0,405.0,2855.0,NaN,2554.0,2891.0,2065.0,4437.0,662.0,136.0

,Entity,Code,Year,Breast,Cervix,Colon,Leukaemia,Liver,Lung,Ovary,Prostate,Rectum,Stomach
0,Algeria,DZA,1999,17.1,23.4,10.8,21.2,NaN,6.0,13.9,44.0,7.9,5.1
1,Algeria,DZA,2004,29.5,59.5,48.6,32.3,17.9,8.2,42.9,55.5,41.2,17.6
2,Algeria,DZA,2009,59.8,55.1,57.2,13.6,17.5,14.8,41.8,58.5,45.5,10.3
3,Argentina,ARG,2004,75.5,52.0,46.0,NaN,NaN,20.8,26.8,85.0,44.4,19.2
4,Argentina,ARG,2009,76.6,50.6,40.6,90.0,24.2,11.9,29.7,86.6,31.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,United States,USA,1999,86.0,64.2,60.5,44.5,8.5,15.2,38.9,93.2,60.0,22.1
155,United States,USA,2004,87.9,63.6,63.7,48.8,11.9,16.6,39.6,96.4,63.1,25.8
156,United States,USA,2009,88.6,62.8,64.7,51.8,15.2,18.7,40.9,97.2,64.0,29.1
157,Uruguay,URY,2004,NaN,NaN,56.5,NaN,NaN,12.5,NaN,NaN,53.0,NaN
158,Uruguay,URY,2009,NaN,NaN,53.4,NaN,NaN,9.1,NaN,NaN,49.4,NaN

,Entity,Code,Year,Deaths - Prostate cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Breast cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Uterine cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Bladder cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Cervical cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Kidney cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Stomach cancer - Sex: Both - Age: Age-standardized (Rate),...,Deaths - Pancreatic cancer - Sex: Both - Age: Age-standardized (Rate),"Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: Age-standardized (Rate)",Deaths - Lip and oral cavity cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Colon and rectum cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Gallbladder and biliary tract cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Liver cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Larynx cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Ovarian cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Thyroid cancer - Sex: Both - Age: Age-standardized (Rate),Deaths - Brain and central nervous system cancer - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,6.486764,7.310613,0.837238,4.285153,4.479875,0.826029,31.988172,...,1.995093,14.069657,1.273888,7.874312,2.611981,11.971836,3.621251,1.045087,0.795176,4.512770
1,Afghanistan,AFG,1991,6.466813,7.288994,0.829514,4.233850,4.468688,0.804741,31.853999,...,1.951962,13.805590,1.257040,7.754987,2.590045,11.900918,3.589414,1.035561,0.789659,4.446988
2,Afghanistan,AFG,1992,6.466158,7.299131,0.821847,4.192670,4.465265,0.785397,31.785219,...,1.906444,13.591141,1.244526,7.652136,2.573065,11.841933,3.570433,1.025213,0.784548,4.413799
3,Afghanistan,AFG,1993,6.479348,7.381653,0.822471,4.166575,4.518657,0.777856,32.059246,...,1.888143,13.422799,1.240243,7.555002,2.578325,11.865807,3.593340,1.023647,0.788610,4.440347
4,Afghanistan,AFG,1994,6.477914,7.473144,0.827221,4.140383,4.600542,0.772456,32.504461,...,1.876670,13.250556,1.236967,7.429222,2.593368,11.919348,3.632985,1.027381,0.796990,4.471324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,22.831973,15.883617,3.300149,8.831272,19.377114,0.899880,14.420835,...,7.414832,14.843994,2.245946,12.663915,1.552107,14.724376,2.288849,4.037035,1.057744,1.137686
6836,Zimbabwe,ZWE,2016,22.867772,15.916682,3.305405,8.785333,19.077268,0.911042,14.256907,...,7.596111,14.913561,2.256949,12.757695,1.543263,14.568177,2.281767,4.133996,1.053995,1.151176
6837,Zimbabwe,ZWE,2017,22.867600,15.898045,3.297913,8.758682,18.709469,0.919663,14.070959,...,7.761276,14.945508,2.262002,12.816489,1.530004,14.379683,2.269442,4.227000,1.047349,1.155454
6838,Zimbabwe,ZWE,2018,22.935194,15.870073,3.284356,8.742797,18.348405,0.926283,13.872298,...,7.931705,15.013534,2.267882,12.879943,1.517075,14.195411,2.260020,4.314312,1.039137,1.159539
6839,Zimbabwe,ZWE,2019,22.939215,15.839594,3.280125,8.734302,18.092448,0.931166,13.731391,...,8.063224,15.059629,2.272438,12.925329,1.508796,14.030374,2.253802,4.364899,1.034256,1.161499

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Other pharynx cancer - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Liver cancer - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Breast cancer - Sex: Both - Age: Age-standardized (Rate),"DALYs (Disability-Adjusted Life Years) - Tracheal, bronchus, and lung cancer - Sex: Both - Age: Age-standardized (Rate)",DALYs (Disability-Adjusted Life Years) - Gallbladder and biliary tract cancer - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Kidney cancer - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Larynx cancer - Sex: Both - Age: Age-standardized (Rate),...,DALYs (Disability-Adjusted Life Years) - Esophageal cancer - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Nasopharynx cancer - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Colon and rectum cancer - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Non-melanoma skin cancer - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Lip and oral cavity cancer - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Malignant skin melanoma - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Other malignant neoplasms - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Mesothelioma - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Hodgkin lymphoma - Sex: Both - Age: Age-standardized (Rate),DALYs (Disability-Adjusted Life Years) - Non-Hodgkin lymphoma - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,14.255438,324.062263,239.477805,339.292769,64.465102,24.968520,96.333968,...,192.833221,27.931266,202.565114,8.405224,33.620452,19.286167,484.976919,2.910515,46.077230,397.392945
1,Afghanistan,AFG,1991,14.044972,321.743139,238.425768,332.621686,63.900204,24.014790,95.395125,...,191.489687,27.616062,199.284673,8.389023,33.131467,19.213781,480.520185,2.913967,45.956068,390.704030
2,Afghanistan,AFG,1992,13.870442,319.905079,238.293720,327.303821,63.469849,23.232763,94.829283,...,190.456003,27.383722,196.432812,8.399392,32.773221,19.187946,478.662235,2.931223,45.983057,385.002896
3,Afghanistan,AFG,1993,13.793344,320.597922,240.782803,323.433484,63.696024,22.991892,95.518117,...,191.988946,27.446393,194.008473,8.451796,32.683100,19.356837,480.446493,2.990693,46.355006,381.127162
4,Afghanistan,AFG,1994,13.742210,322.062798,243.583065,319.566372,64.236660,22.810080,96.746613,...,194.670965,27.590528,190.987744,8.501033,32.637825,19.599236,480.592880,3.065219,46.759818,376.648793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,17.521711,391.014294,446.405435,367.933318,34.786869,24.218521,63.882004,...,408.474424,23.064998,290.074397,15.164689,61.818358,52.668603,175.953478,6.665169,15.474804,39.690964
6836,Zimbabwe,ZWE,2016,17.536431,387.684990,447.421996,369.449510,34.571321,24.640295,63.729558,...,406.855183,23.015785,292.172372,15.199638,62.158737,52.872968,177.938946,6.601153,15.496675,40.066420
6837,Zimbabwe,ZWE,2017,17.487952,382.915167,446.474436,369.821387,34.228455,24.910620,63.385684,...,404.403210,22.856767,293.187418,15.199003,62.266364,52.830869,178.597372,6.533813,15.366602,40.163140
6838,Zimbabwe,ZWE,2018,17.451556,378.094624,445.291282,371.116051,33.897959,25.100034,63.127160,...,402.119465,22.696024,294.235948,15.209527,62.388371,52.768387,179.091892,6.476223,15.231884,40.207506
6839,Zimbabwe,ZWE,2019,17.443323,373.676765,443.970980,372.161358,33.683768,25.234099,63.014516,...,400.700660,22.594918,295.065828,15.228916,62.495133,52.773595,179.260114,6.434688,15.131020,40.248380

,Entity,Code,Year,Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number),Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number)
0,Afghanistan,AFG,1990,431,278,2078,3346,5446
1,Afghanistan,AFG,1991,439,299,2183,3382,5493
2,Afghanistan,AFG,1992,486,341,2386,3427,5577
3,Afghanistan,AFG,1993,549,373,2545,3489,5679
4,Afghanistan,AFG,1994,589,385,2615,3554,5771
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,56,91,2362,3488,5164
6836,Zimbabwe,ZWE,2016,58,99,2462,3573,5272
6837,Zimbabwe,ZWE,2017,58,104,2549,3654,5379
6838,Zimbabwe,ZWE,2018,58,106,2636,3748,5490
6839,Zimbabwe,ZWE,2019,57,106,2725,3843,5622

,Entity,Code,Year,Prevalence - Neoplasms - Sex: Both - Age: Under 5 (Number),Prevalence - Neoplasms - Sex: Both - Age: 50-69 years (Number),Prevalence - Neoplasms - Sex: Both - Age: 15-49 years (Number),Prevalence - Neoplasms - Sex: Both - Age: 5-14 years (Number),Prevalence - Neoplasms - Sex: Both - Age: 70+ years (Number)
0,Afghanistan,AFG,1990,3458.692194,15160.550584,11118.797151,2162.519557,5468.171987
1,Afghanistan,AFG,1991,3380.741640,15403.327902,11275.643030,2182.992003,5542.409743
2,Afghanistan,AFG,1992,3515.259263,15929.131333,12915.115833,2338.885361,5633.485650
3,Afghanistan,AFG,1993,4116.452952,16450.708878,14440.560525,2651.815246,5750.508685
4,Afghanistan,AFG,1994,4835.583726,16843.596095,14927.822050,2760.429474,5847.519083
...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,1809.265601,17451.705394,14360.107439,857.751511,5849.411980
6464,Zimbabwe,ZWE,2014,1815.531520,17896.158215,14867.350677,876.294567,5988.076007
6465,Zimbabwe,ZWE,2015,1803.072478,18367.579487,15348.631446,878.637360,6176.660634
6466,Zimbabwe,ZWE,2016,1814.026770,18944.965812,15808.598752,890.203599,6432.777211
6467,Zimbabwe,ZWE,2017,1794.824216,19450.896751,16394.758783,911.632683,6689.451098

,Entity,Code,Year,age-standardized_death_rate_per_100k_male,age-standardized_death_rate_per_100k_female
0,Albania,ALB,1987,38.99,5.95
1,Albania,ALB,1988,41.27,6.97
2,Albania,ALB,1989,36.56,4.42
3,Albania,ALB,1992,29.70,5.68
4,Albania,ALB,1993,27.44,5.41
...,...,...,...,...,...
4567,Venezuela,VEN,2012,19.65,11.13
4568,Venezuela,VEN,2013,18.64,11.08
4569,Venezuela,VEN,2014,19.58,11.09
4570,Venezuela,VEN,2015,18.15,11.25
4571,Venezuela,VEN,2016,17.47,10.50

             Entity Code  Year  Liver
0           Algeria  DZA  2004   17.9
1           Algeria  DZA  2009   17.5
2         Argentina  ARG  2009   24.2
3         Australia  AUS  1999   13.2
4         Australia  AUS  2004   14.3
..              ...  ...   ...    ...
136  United Kingdom  GBR  2004    8.1
137  United Kingdom  GBR  2009    9.3
138   United States  USA  1999    8.5
139   United States  USA  2004   11.9
140   United States  USA  2009   15.2

[141 rows x 4 columns]

,Entity,Code,Year,Share of cancer deaths attributable to risk factors
0,Bladder cancer,NaN,2019,40.550454
1,Breast cancer,NaN,2019,25.211948
2,Cervical cancer,NaN,2019,100.000000
3,Colon and rectum cancer,NaN,2019,58.183814
4,Esophageal cancer,NaN,2019,68.174722
5,Gallbladder and biliary tract cancer,NaN,2019,15.156466
6,Kidney cancer,NaN,2019,33.802166
7,Larynx cancer,NaN,2019,70.896597
8,Leukemia,NaN,2019,25.005826
9,Lip and oral cavity cancer,NaN,2019,62.187872
10,Liver cancer,NaN,2019,52.555951
11,Mesothelioma,NaN,2019,91.678039
12,Multiple myeloma,NaN,2019,7.066672
13,Nasopharynx cancer,NaN,2019,48.763642
14,Non-Hodgkin lymphoma,NaN,2019,5.418054
15,Ovarian cancer,NaN,2019,13.710496
16,Pancreatic cancer,NaN,2019,32.711335
17,Prostate cancer,NaN,2019,6.011313
18,Stomach cancer,NaN,2019,24.238490
19,Thyroid cancer,NaN,2019,10.226052
20,"Tracheal, bronchus, and lung cancer",NaN,2019,80.292729
21,Uterine cancer,NaN,2019,39.812825

,Entity,Code,Year,Deaths - Cause: Neoplasms - Risk: Smoking - OWID - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,8.214455
1,Afghanistan,AFG,1991,8.212980
2,Afghanistan,AFG,1992,8.217458
3,Afghanistan,AFG,1993,8.214716
4,Afghanistan,AFG,1994,8.217247
...,...,...,...,...
6835,Zimbabwe,ZWE,2015,15.550127
6836,Zimbabwe,ZWE,2016,15.488689
6837,Zimbabwe,ZWE,2017,15.431660
6838,Zimbabwe,ZWE,2018,15.393021
6839,Zimbabwe,ZWE,2019,15.343391

,Entity,Code,Year,Deaths - Neoplasms - Sex: Both - Age: Age-standardized (Rate),Deaths - Neoplasms - Sex: Both - Age: All Ages (Rate),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,159.964864,101.409895,11580
1,Afghanistan,AFG,1991,158.455892,93.714269,11796
2,Afghanistan,AFG,1992,157.390960,84.011048,12218
3,Afghanistan,AFG,1993,157.574448,79.038807,12634
4,Afghanistan,AFG,1994,158.031726,77.173172,12914
...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,182.596478,79.281072,11161
6836,Zimbabwe,ZWE,2016,182.424420,80.128518,11465
6837,Zimbabwe,ZWE,2017,181.835774,80.769870,11744
6838,Zimbabwe,ZWE,2018,181.356873,81.484036,12038
6839,Zimbabwe,ZWE,2019,180.933963,82.291345,12353

,Entity,Code,Year,Prevalence - Neoplasms - Sex: Both - Age: Under 5 (Percent),Prevalence - Neoplasms - Sex: Both - Age: 70+ years (Percent),Prevalence - Neoplasms - Sex: Both - Age: 15-49 years (Percent),Prevalence - Neoplasms - Sex: Both - Age: 50-69 years (Percent),Prevalence - Neoplasms - Sex: Both - Age: 5-14 years (Percent),Prevalence - Neoplasms - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,AFG,1990,0.218791,1.715018,0.275733,1.139524,0.082218,0.377740
1,Afghanistan,AFG,1991,0.200244,1.718245,0.264010,1.149097,0.082399,0.367866
2,Afghanistan,AFG,1992,0.165107,1.725814,0.241485,1.161123,0.079459,0.332801
3,Afghanistan,AFG,1993,0.155177,1.740286,0.222499,1.174746,0.081895,0.307616
4,Afghanistan,AFG,1994,0.163521,1.749073,0.220448,1.192854,0.082420,0.305005
...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,0.094054,2.563195,0.217310,1.639887,0.025623,0.306164
6464,Zimbabwe,ZWE,2014,0.093337,2.559657,0.220658,1.635011,0.025866,0.309300
6465,Zimbabwe,ZWE,2015,0.092131,2.559494,0.223222,1.630988,0.025608,0.312328
6466,Zimbabwe,ZWE,2016,0.092639,2.559982,0.225199,1.635794,0.025599,0.316555
6467,Zimbabwe,ZWE,2017,0.092011,2.553761,0.228755,1.630592,0.025856,0.320898

            Entity Code  Year  Lung
0          Algeria  DZA  1999   6.0
1          Algeria  DZA  2004   8.2
2          Algeria  DZA  2009  14.8
3        Argentina  ARG  2004  20.8
4        Argentina  ARG  2009  11.9
..             ...  ...   ...   ...
148  United States  USA  1999  15.2
149  United States  USA  2004  16.6
150  United States  USA  2009  18.7
151        Uruguay  URY  2004  12.5
152        Uruguay  URY  2009   9.1

[153 rows x 4 columns]

,Entity,Code,Year,Deaths - Neoplasms - Sex: Both - Age: Age-standardized (Rate),"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,159.964864,NaN,12412311.0,NaN
2,Afghanistan,AFG,1991,158.455892,NaN,13299016.0,NaN
3,Afghanistan,AFG,1992,157.390960,NaN,14485543.0,NaN
4,Afghanistan,AFG,1993,157.574448,NaN,15816601.0,NaN
...,...,...,...,...,...,...,...
57759,Zimbabwe,ZWE,1987,NaN,NaN,9527202.0,NaN
57760,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
57761,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
57762,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
57763,Ã…land Islands,ALA,2015,NaN,NaN,NaN,Europe

,Entity,Code,Year,Breast,"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2002,NaN,1189.784668,22600774.0,NaN
2,Afghanistan,AFG,2003,NaN,1235.810063,23680871.0,NaN
3,Afghanistan,AFG,2004,NaN,1200.278013,24726689.0,NaN
4,Afghanistan,AFG,2005,NaN,1286.793659,25654274.0,NaN
...,...,...,...,...,...,...,...
57069,Zimbabwe,ZWE,1987,NaN,NaN,9527202.0,NaN
57070,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
57071,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
57072,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
57073,Ã…land Islands,ALA,2015,NaN,NaN,NaN,Europe

,Entity,Code,Year,Deaths - Neoplasms - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,159.964864
1,Afghanistan,AFG,1991,158.455892
2,Afghanistan,AFG,1992,157.390960
3,Afghanistan,AFG,1993,157.574448
4,Afghanistan,AFG,1994,158.031726
...,...,...,...,...
6835,Zimbabwe,ZWE,2015,182.596478
6836,Zimbabwe,ZWE,2016,182.424420
6837,Zimbabwe,ZWE,2017,181.835774
6838,Zimbabwe,ZWE,2018,181.356873
6839,Zimbabwe,ZWE,2019,180.933963

,Entity,Code,Year,Bladder cancer (deaths),Brain and nervous system cancer (deaths),Breast cancer (deaths),Cervical cancer (deaths),Colon and rectum cancer (deaths),Esophageal cancer (deaths),Gallbladder cancer (deaths),...,Lip and oral cavity cancer (deaths),Liver cancer (deaths),Non-Hodgkin lymphoma (deaths),Other cancers (deaths),Other pharynx cancer (deaths),Ovarian cancer (deaths),Pancreatic cancer (deaths),Prostate cancer (deaths),Stomach cancer (deaths),"Tracheal, bronchus, and lung cancer (deaths)"
0,Afghanistan,AFG,1990,148,164,767,317,442,189,118,...,54,244,172,897,41,69,126,130,923,797
1,Afghanistan,AFG,1991,157,174,823,336,476,200,125,...,57,261,183,952,43,74,134,140,990,853
2,Afghanistan,AFG,1992,169,188,901,362,522,215,135,...,62,284,197,1029,46,80,144,152,1078,928
3,Afghanistan,AFG,1993,184,205,996,394,577,234,148,...,68,313,215,1122,50,87,157,168,1192,1018
4,Afghanistan,AFG,1994,200,222,1098,428,635,254,161,...,73,343,232,1219,54,93,170,185,1317,1111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5530,Zimbabwe,ZWE,2012,421,222,784,1550,726,1185,394,...,96,1219,491,1441,34,235,398,1392,936,730
5531,Zimbabwe,ZWE,2013,423,229,790,1534,733,1186,390,...,97,1253,508,1462,35,241,407,1418,928,729
5532,Zimbabwe,ZWE,2014,434,241,840,1601,758,1215,399,...,100,1308,535,1517,36,254,425,1446,949,734
5533,Zimbabwe,ZWE,2015,442,251,863,1611,777,1233,400,...,103,1358,558,1555,37,263,439,1481,956,741
5534,Zimbabwe,ZWE,2016,454,263,892,1632,800,1254,403,...,106,1411,586,1604,38,274,455,1533,970,752

,Entity,Code,Year,Deaths - Neoplasms - Sex: Both - Age: Under 5 (Rate),Deaths - Neoplasms - Sex: Both - Age: Age-standardized (Rate),Deaths - Neoplasms - Sex: Both - Age: All Ages (Rate),Deaths - Neoplasms - Sex: Both - Age: 70+ years (Rate),Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Rate),Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Rate),Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Rate)
0,Afghanistan,AFG,1990,21.333432,159.964864,101.409895,1021.494249,9.372839,407.233106,43.620659
1,Afghanistan,AFG,1991,18.701225,158.455892,93.714269,1013.760277,9.456989,404.506587,40.530804
2,Afghanistan,AFG,1992,16.801217,157.390960,84.011048,1007.834265,9.737245,402.687908,37.166581
3,Afghanistan,AFG,1993,16.527773,157.574448,79.038807,1006.565188,9.832934,404.419442,35.723897
4,Afghanistan,AFG,1994,16.527686,158.031726,77.173172,1006.363704,9.564733,407.332265,35.458716
...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2.642187,182.596478,79.281072,1340.306429,2.495452,465.147739,34.026731
6836,Zimbabwe,ZWE,2016,2.753739,182.424420,80.128518,1336.598159,2.683036,464.267622,34.769286
6837,Zimbabwe,ZWE,2017,2.752663,181.835774,80.769870,1333.762807,2.768516,461.892531,35.273065
6838,Zimbabwe,ZWE,2018,2.718565,181.356873,81.484036,1330.364400,2.797381,458.788271,35.747494
6839,Zimbabwe,ZWE,2019,2.711397,180.933963,82.291345,1327.744695,2.749125,455.847569,36.221210

             Entity Code  Year  Breast
0           Algeria  DZA  1999    17.1
1           Algeria  DZA  2004    29.5
2           Algeria  DZA  2009    59.8
3         Argentina  ARG  2004    75.5
4         Argentina  ARG  2009    76.6
..              ...  ...   ...     ...
151  United Kingdom  GBR  2004    78.7
152  United Kingdom  GBR  2009    81.1
153   United States  USA  1999    86.0
154   United States  USA  2004    87.9
155   United States  USA  2009    88.6

[156 rows x 4 columns]